@import "tailwindcss";

p {
    @apply text-xl;
}

h1, .h1 {
    @apply text-4xl font-normal leading-tight;
}

h2, .h2 {
    @apply text-3xl font-normal leading-tight;
}

.paragraph-1 {
    @apply text-xl;
}

/* Custom search input styling */
.search-input-field {
    background-color: #f3f3f3 !important;
    border-radius: 24px !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 30px !important;
    padding: 24px 24px 16px 24px !important;
    color: #737373 !important;
}

.search-input-field:hover {
    color: #000000 !important;
}

.search-input-field:focus {
    outline: none !important;
    border: 2px solid #000000 !important;
}